doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include ../public/components/color-lab.pug
    link(rel="stylesheet", href="/css/addPalette.css")
    title Lemon Teams: Dashboard
  body#body 
    include ../public/layouts/navigation.pug
    form(action="", method="post") 
      h2 Add Color
      p You can add a maximum of 10 colors and a minimum of 3 colors. Select colors from the bar and submit.
      .info
        input(type="text", name="name" placeholder="Name of Color Palette" required autocomplete="off")
        input(type="text", name="description" placeholder="Description... (Optional)" autocomplete="off")
        input(type="text", name="tags", placeholder="Searching tags... (use space to differentiate)" autocomplete="off")
        select(name="visibility")
          option(value="public") Public 
          option(value="private") Private
      each i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
        .colors(style=`display: ${i === 1 ? 'block' : 'none'}`) // Initially show only the first color input
          input(type="color", name=`color${i}`, id=`colorInput${i}`, oninput=`updateColor(${i}, 'color'); checkAndShowNext(${i})`, autocomplete="off")
          .background(id=`background${i}`)
          input(type="text", name=`color${i}Hex`, id=`colorHex${i}`, oninput=`updateColor(${i}, 'text'); checkAndShowNext(${i})`, value="" required autocomplete="off")
      input(type="submit", value="Publish Palette")
    include ../public/layouts/footer.pug
    script(src="/js/addPalette.js")
    script.
      function updateColor(index, type) {
        const colorInput = document.getElementById(`colorInput${index}`);
        const colorHex = document.getElementById(`colorHex${index}`);
        const background = document.getElementById(`background${index}`);

        if (type === 'color') {
          const colorValue = colorInput.value;
          background.style.backgroundColor = colorValue;
          colorHex.value = colorValue;
        } else if (type === 'text') {
          const colorValue = colorHex.value;
          background.style.backgroundColor = colorValue;
          colorInput.value = colorValue;
        }
      }

      function checkAndShowNext(currentIndex) {
        const colorInput = document.getElementById(`colorInput${currentIndex}`);
        const colorHex = document.getElementById(`colorHex${currentIndex}`);
        const nextInputIndex = currentIndex + 1;
        const nextColorInput = document.getElementById(`colorInput${nextInputIndex}`);

        // Check if both color input and text input have values
        if (colorInput.value && colorHex.value && nextColorInput && nextColorInput.parentElement.style.display === 'none') {
          nextColorInput.parentElement.style.display = 'block'; // Show the next color input
        }
      }

      // Initialize by hiding all except the first input
      for (let i = 2; i <= 10; i++) {
        document.getElementById(`colorInput${i}`).parentElement.style.display = 'none';
      }
