doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include ../public/components/header.pug
        link(rel="stylesheet", href="/css/Dashboard.css")
        title Lemon Teams: Dashboard
    body#body 
        include ../public/layouts/navigation.pug
        .container
            .apps 
                .app
                    a(href="/lemon-color-lab") 
                        img(src="/ecosystem/lemon-color-lab.png", alt="Loading")
                        | Lemon Color Lab
                .app
                    a(href="/library") 
                        img(src="/ecosystem/lemon-library.png", alt="Loading")
                        | Lemon Library
            .activities 
                h4 Your Activities 
                .lemon-color-lab 
                    h5 Lemon Color Lab
                    p.sub-headings Your Palettes
                    .palettes
                        if palettes.length > 0
                            each palette in palettes
                                a.goto(href=`/open-palette?code=${palette.code}`) 
                                    .palette
                                        each color in [palette.color1, palette.color2, palette.color3, palette.color4, palette.color5, palette.color6, palette.color7, palette.color8, palette.color9, palette.color10]
                                            if color
                                                .color(data-color=`${color}`, style=`background: ${color};`)
                        else
                            p.mentionInfoActivity No palettes published yet.
                    p.sub-headings Liked Palettes
                    .palettes
                        if likedPalettes.length > 0
                            each palette in likedPalettes
                                a.goto(href=`/open-palette?code=${palette.code}`) 
                                    .palette
                                        each color in [palette.color1, palette.color2, palette.color3, palette.color4, palette.color5, palette.color6, palette.color7, palette.color8, palette.color9, palette.color10]
                                            if color
                                                .color(data-color=`${color}`, style=`background: ${color};`)
                        else
                            p.mentionInfoActivity You haven't liked any palettes yet.
                .lemon-library 
                    h5 Lemon Library
                    p.sub-headings Your Libraries 
                    .container-libs 
                        if ourLibs.length > 0
                            .lib-cards 
                                each lib in ourLibs
                                    a(href=`/library/${lib.code}`) 
                                        .lib-card 
                                            .hide #{lib.tags} #{lib.name}
                                            .heading-lib-card #{lib.name}
                                            .heading-lib-para #{lib.description}
                                            .version #{lib.version}
                        else
                            p.mentionInfoActivity You haven't published any libraries yet.
                    p.sub-headings Saved Libraries 
                    .container-libs 
                        if savedLibs.length > 0
                            .lib-cards 
                                each lib in savedLibs
                                    a(href=`/library/${lib.code}`) 
                                        .lib-card 
                                            .hide #{lib.tags} #{lib.name}
                                            .heading-lib-card #{lib.name}
                                            .heading-lib-para #{lib.description}
                                            .version #{lib.version}
                        else
                            p.mentionInfoActivity You haven't saved any libraries yet.
            h4.leaderBoard Top 30 LeaderBoard
            .apps
                each leader in leaderboards
                    .app
                        a(href=`/account/${leader.identity}`, target="_blank", rel="noopener noreferrer" class="transferred-leaderboard") 
                            img(src=`/accounts/${leader.profile}`, 
                                alt="Loading..." 
                                class="leader-img"
                                onerror="this.src='/accounts/default.png'; this.onerror=null;")
                            p.leader-name #{leader.name}
                            p.leader-coin=leader.coin
            .ads(style="display: flex; justify-content: center; align-items: center;")
                script(type="text/javascript").
                    atOptions = {
                        'key' : '0fcbee03076f0d65f6168a364afa1b52',
                        'format' : 'iframe',
                        'height' : 90,
                        'width' : 728,
                        'params' : {}
                    };
                script(type="text/javascript", src="//www.highperformanceformat.com/0fcbee03076f0d65f6168a364afa1b52/invoke.js")
        include ../public/layouts/footer.pug
        script(src="/js/OpenPalette.js")
