doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include ../public/components/color-lab.pug
        link(rel="stylesheet", href="/css/LemonColorLab.css")
        title Lemon Teams: Color Lab
        meta(name="description" content="Lemon Color Lab: Explore a wide variety of color palettes tailored for developers and designers. Easily generate, customize, and integrate color schemes into your projects.")
        meta(name="keywords" content="Lemon Color Lab, color palettes, color schemes, developers, designers, color generator, web design, UI, UX, Lemon Teams, color lab, color")
        meta(name="robots" content="index, follow")
    body
        include ../public/layouts/navigation.pug
        .app-menu 
            a(href="/add-palette") Publish Palette
        .container
            h1 Lemon Color Lab
            p This is a color lab where you can create, manage, and share your own color palette ideas.
            .search
                input(class="searchInput", id="searching", placeholder="Search Palettes")
            .main 
                h4 Color Palette 
                .new 
                    h5 New 
                    .new-container 
                        each palette in newPalettes
                            a(href=`/open-palette?code=${palette.code}`) 
                                .palette
                                    .hide= palette.tags
                                    .hide= palette.name
                                    each color in [palette.color1, palette.color2, palette.color3, palette.color4, palette.color5, palette.color6, palette.color7, palette.color8, palette.color9, palette.color10]
                                        if color
                                            .color(style=`background: ${color};`)
                .new 
                    h5 Sponsered Palettes
                    .new-container 
                        each palette in sponsered
                            a(href=`/open-palette?code=${palette.code}`) 
                                .palette
                                    .hide= palette.tags
                                    .hide= palette.name
                                    each color in [palette.color1, palette.color2, palette.color3, palette.color4, palette.color5, palette.color6, palette.color7, palette.color8, palette.color9, palette.color10]
                                        if color
                                            .color(style=`background: ${color};`)
                .trending 
                    h5 Trending
                    .container-trending
        include ../public/layouts/footer.pug
        script(src="/js/LemonColorLab.js")
