doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include ../public/components/Library.pug
        link(rel="stylesheet", href="/css/LibraryCollection.css")
        title Lemon Library: #{library.name}
    body
        include ../public/layouts/navigation.pug
        .container 
            .add-btn
                -if(isLibOurs == true)
                    a(href=`/add-code/${library.code}`) Add Code
                    a(href=`/delete-library/${library.code}`) Delete Library
                -else
                    button#save-library.save-lib Save Library
            .lib-head 
                .lib-heading #{library.name}
                .lib-search 
                    input(type="text" placeholder="Search version..." id="versionSearch")
            .libs 
                .lib-cards 
                    each lib in libraryCodes
                        a(href=`/code/${lib.token}`) 
                            .lib-card 
                                .heading-lib-card #{lib.name} 
                                .heading-lib-para #{lib.description}
                                .version #{lib.version}
        include ../public/layouts/footer.pug
        script(src="/js/LibraryCollection.js") 
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js' integrity='sha512-11t8Q+vY9JlCrr+PveZKTYJq8n7O09Y5X/pk/aMd3vJugSvu4xOunGEUzaADqL3I8cZKE/pBwwCfXzDkRJh2sQ==' crossorigin='anonymous')
        script.
            const socket = io();
            document.addEventListener("DOMContentLoaded", () => {
            const saveButton = document.getElementById("save-library");
            const libraryCode = "#{library.code}";
            const userId = "#{user.identity}"; 
            saveButton.addEventListener("click", () => {
                socket.emit('toggle-save', { userId, libraryCode });
            });
            socket.on('save-updated', ({ libraryCode: updatedCode, saved }) => {
                if (libraryCode === updatedCode) {
                    saveButton.innerHTML = saved ? "Saved" : "Save Library";
                }
            });
            });
