doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include ../public/components/Library.pug
        link(rel="stylesheet", href="/css/LibraryCollection.css")
        title Lemon Library: #{library.name}
    body
        include ../public/layouts/navigation.pug
        .container 
            .add-btn
                -if(isLibOurs == true)
                    a(href=`/add-code/${library.code}`) Add Code
                    a(href=`/delete-library/${library.code}`) Delete Library
                -else
                    button#save-library.save-lib #{library.saved.includes(user.identity) ? 'Saved Library' : 'Save Library'}
            .lib-head 
                .lib-heading #{library.name}
                .lib-search 
                    input(type="text" placeholder="Search version/name..." id="versionSearch")
            .libs 
                .lib-cards 
                    each lib in libraryCodes
                        a(href=`/code/${lib.token}`) 
                            .lib-card 
                                .heading-lib-card #{lib.name} 
                                .heading-lib-para #{lib.description}
                                .version #{lib.version}
                                .hide #{lib.version} #{lib.name}
            .lib-views
                p Usage: #{library.views}
                a(href=`/account/${owner.identity}`, target="_blank", rel="noopener noreferrer") #{owner.name}
        include ../public/layouts/footer_withoutSocket.pug
        script(src="/js/LibraryCollection.js") 
        script.
            document.addEventListener("DOMContentLoaded", () => {
            const saveButton = document.getElementById("save-library");
            const libraryCode = "#{library.code}"; 
            const userId = "#{user.identity}"; 
            if(saveButton){
            saveButton.addEventListener("click", () => {
                socket.emit('toggle-save', { userId, libraryCode });
            });
            }
            socket.on('save-updated', ({ libraryCode: updatedCode, saved }) => {
                if (libraryCode === updatedCode) {
                    saveButton.innerHTML = saved ? "Saved" : "Save Library";
                }
            });
            });
