doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include ../public/components/Library.pug
        link(rel="stylesheet", href="/css/Library.css")
        title Lemon Library
        meta(name="description" content="Lemon Library is a feature of Lemon Teams where developers can create libraries, publish unlimited code, and get import links for their projects. Explore a vast collection of code snippets tailored for various needs.")
        meta(name="keywords" content="Lemon Library, Lemon Teams, code libraries, publish code, import code, developer tools, coding platform, code snippets, web development")
        meta(name="robots" content="index, follow")
    body
        include ../public/layouts/navigation.pug
        .container 
            .search-options 
                .create 
                    a(href="/create-library") Create Library
                .Emblem 
                    img(src="../ecosystem/lemon-library.png", alt="Loading")
                .heading Lemon Library 
                .search-bar
                    input(id="search" type="text" placeholder="Search Library...")
            .libs 
                .lib-new 
                    h5.category-lib New
                    .container-libs 
                        .lib-cards 
                            each lib in NewLibs
                                a(href=`/library/${lib.code}`) 
                                    .lib-card 
                                        .hide #{lib.tags} #{lib.name}
                                        .heading-lib-card #{lib.name}
                                        .heading-lib-para #{lib.description}
                                        .version #{lib.version}
                .lib-trending 
                    h5.category-lib Trending
                    .container-libs 
                        .lib-cards 
                            each lib in TrendingLibs
                                a(href=`/library/${lib.code}`) 
                                    .lib-card 
                                        .hide #{lib.tags} #{lib.name}
                                        .heading-lib-card #{lib.name}
                                        .heading-lib-para #{lib.description}
                                        .version #{lib.version}
                .lib-all 
                    h5.category-lib All
                    .container-libs 
                        .lib-cards 
                            each lib in allLibs
                                a(href=`/library/${lib.code}`) 
                                    .lib-card 
                                        .hide #{lib.tags} #{lib.name}
                                        .heading-lib-card #{lib.name}
                                        .heading-lib-para #{lib.description}
                                        .version #{lib.version}
        include ../public/layouts/footer.pug
        script(src="/js/Library.js") 
