doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include ../public/components/Library.pug
        link(rel="stylesheet", href="/css/Library.css")
        title Lemon Library
    body
        include ../public/layouts/navigation.pug
        .container 
            .search-options 
                .create 
                    a(href="/create-library") Create Library
                .Emblem 
                    img(src="../ecosystem/lemon-library.png", alt="Loading")
                .heading Lemon Library 
                .search-bar
                    input(id="search" type="text" placeholder="Search Library...")
            .libs 
                .lib-new 
                    h5.category-lib New
                    .container-libs 
                        .lib-cards 
                            each lib in NewLibs
                                a(href=`/${lib.code}`) 
                                    .lib-card 
                                        .hide #{lib.tags} #{lib.name}
                                        .heading-lib-card #{lib.name}
                                        .heading-lib-para #{lib.description}
                                        .version #{lib.version}
                .lib-trending 
                    h5.category-lib Trending
                    .container-libs 
                        .lib-cards 
                            each lib in TrendingLibs
                                a(href=`/${lib.code}`) 
                                    .lib-card 
                                        .hide #{lib.tags} #{lib.name}
                                        .heading-lib-card #{lib.name}
                                        .heading-lib-para #{lib.description}
                                        .version #{lib.version}
                .lib-all 
                    h5.category-lib All
                    .container-libs 
                        .lib-cards 
                            each lib in allLibs
                                a(href=`/${lib.code}`) 
                                    .lib-card 
                                        .hide #{lib.tags} #{lib.name}
                                        .heading-lib-card #{lib.name}
                                        .heading-lib-para #{lib.description}
                                        .version #{lib.version}
        include ../public/layouts/footer.pug
        script(src="/js/Library.js") 