link(rel="stylesheet", href="../css/navigation.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0")
.navigation 
    .logo 
        img(src="/Emblem/Emblem.jpeg" alt='Logo')
        p Lemon Teams
    .lemons Lemon teams
    .options 
        a(href="/products") Products 
        a(href="/solutions") Solutions
        a(href="/support") Support 
        a(href="/feedback") Feedback
        -if (!user)
            a(href="/account") <span class="material-symbols-outlined">person</span>
        -else
            a(href="/lemon-store") Lemon Store
            a(href="/dashboard") Dashboard
            .coins 
                a(href="/reedem-code") 
                    .img-coin
                        img(src="/Emblem/Emblem.jpeg")
                    p#coin #{user.coin}
            i.fa-solid.fa-bell#notify-icon
            a(href=`/account/${user.identity}` class="nav-profile-image") 
                img(src=profile alt="Profile" onerror="this.src='/accounts/default.png'; this.onerror=null;")
    .menu-responsive 
        | <span class="material-symbols-outlined menu-icon" id="menu">menu</span>
.menu-options#options
    .close <span class="lemons">Lemon teams</span> <span class="material-symbols-outlined" id="close">close</span>
    .line
    a(href="/products") <i class="fa-brands fa-uncharted"></i>&nbsp; Products 
    .line 
    a(href="/solutions") <i class="fa-solid fa-dna"></i>&nbsp; Solutions 
    .line 
    a(href="/feedback") <i class="fa-solid fa-message"></i> &nbsp;Feedback 
    .line
    -if (!user)
        a(href="/account") <i class="fa-solid fa-file-invoice"></i>&nbsp; Account 
    -else
        a(href=`/account/${user.identity}`) <i class="fa-solid fa-file-invoice"></i>&nbsp; Account 
        a(href="/lemon-store") Lemon Store
        a(href="/dashboard") Dashboard
    .line
#notifications 
    if (user.notifications)
        each notification in user.notifications.reverse()
            .notification
                .hide #{notification.seen}
                if (notification.app == "Color Lab")
                    if (notification.comment == null || notification.comment == "" || !notification.comment || notification.comment == undefined)
                        p <span class="bold">  #{notification.name} </span> liked your <a href="https://lemonteams.onrender.com/open-palette?code=#{notification.link}" target="_blank" style="color: white;"> palette </a>
                    else 
                        p <span class="bold"> #{notification.name} </span> commented "#{notification.comment}" on your <a href="https://lemonteams.onrender.com/open-palette?code=#{notification.link}" target="_blank" style="color: white;"> palette </a>
                else if(notification.app == "Library")
                        p <span class="bold">  #{notification.name} </span> saved <a href="https://lemonteams.onrender.com/library/#{notification.link}" target="_blank" style="color: white;"> Library </a>
                else if(notification.app == "Team won")
                        p You got <span class="bold"> #{notification.name} Lemon Coins </span>
                else if(notification.app == "Team loss")
                        p You lost <span class="bold"> #{notification.name} Lemon Coins </span>
                p.time-ago.time(id=`time-ago-${index}` data-time=`${notification.time}`)
include ../components/socket_setup.pug
script. 
    let user =  `#{user.identity}`;
    let coin = document.getElementById("coin");
    setInterval(()=>{
        socket.emit("coin-update", {user});
    }, 2000);
    socket.on("coin-update", async(data)=>{
        coin.innerHTML = data.coin;
    });
    async function update(){
    const hideDivs = document.querySelectorAll('.hide');
    const count = Array.from(hideDivs).filter(div => div.innerHTML.trim() === 'false').length;
    if(count >= 1){
        document.getElementById('notify-icon').style.borderBottom = '1px solid red';
        document.getElementById('notify-icon').style.padding = '0';
        document.getElementById('notify-icon').style.paddingBottom = '2px';
    }
    document.getElementById('notify-icon').addEventListener('click',()=>{
        document.getElementById('notify-icon').style.borderBottom = 'none';
        socket.emit("notification-seen", {user});
        hideDivs.forEach(div => {
            if (div.innerHTML.trim() === 'false') {
                div.innerHTML = 'true';
            }
        });
    });}
    setInterval(()=>{
        update();
    }, 5000)
    update();
script(src="../js/navigation.js") 