link(rel="stylesheet", href="../css/navigation.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0")
.navigation 
    .logo 
        img(src="/Emblem/Emblem.jpeg" alt='Logo')
        p Lemon Teams
    .lemons Lemon teams
    .options 
        a(href="/products") Products 
        a(href="/solutions") Solutions
        a(href="/support") Support 
        a(href="/feedback") Feedback
        -if (!user)
            a(href="/account") <span class="material-symbols-outlined">person</span>
        -else
            i.fa-solid.fa-bell#notify-icon
            a(href=`/account/${user.identity}` class="nav-profile-image") 
                img(src=profile alt="Profile")
    .menu-responsive 
        | <span class="material-symbols-outlined menu-icon" id="menu">menu</span>
.menu-options#options
    .close <span class="lemons">Lemon teams</span> <span class="material-symbols-outlined" id="close">close</span>
    .line
    a(href="/products") <i class="fa-brands fa-uncharted"></i>&nbsp; Products 
    .line 
    a(href="/solutions") <i class="fa-solid fa-dna"></i>&nbsp; Solutions 
    .line 
    a(href="/feedback") <i class="fa-solid fa-message"></i> &nbsp;Feedback 
    .line
    -if (!user)
        a(href="/account") <i class="fa-solid fa-file-invoice"></i>&nbsp; Account 
    -else
        a(href=`/account/${user.identity}`) <i class="fa-solid fa-file-invoice"></i>&nbsp; Account 
    .line
#notifications 
    if (user.notifications)
        each notification in user.notifications
            .notification
                if (notification.app == "Color Lab")
                    if (notification.comment == null || notification.comment == "" || !notification.comment || notification.comment == undefined)
                        p <span class="bold">  #{notification.name} </span> liked your <a href="https://lemonteams.onrender.com/open-palette?code=#{notification.link}" target="_blank"> palette </a>
                    else 
                        p <span class="bold"> #{notification.name} </span> commented "#{notification.comment}" on your <a href="https://lemonteams.onrender.com/open-palette?code=#{notification.link}" target="_blank"> palette </a>
                else if(notification.app == "Library")
                        p <span class="bold">  #{notification.name} </span> saved <a href="https://lemonteams.onrender.com/library/#{notification.link}" target="_blank"> Library </a>
                p.time-ago.time(id="time-ago-#{index}" data-time="#{notification.time}")
script(src="../js/navigation.js") 